{% extends 'layout.html' %}
{% block styles %}
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="{{url_for('static', filename='css/dictionary.css')}}" rel="stylesheet">
{% endblock styles %}
{% block content %}
<div class="dict_container" style="margin-top: 110px;">
  <h1>Dictionary</h1>
  <input type="text" id="searchBox" onkeyup="searchWords()" placeholder="Search for words..." aria-label="Search words">
  <ul id="wordList">
    {% for word in words %}
      <li>
        <a href="{{ url_for('main.sign', word_id=word.id) }}">{{ word.word }}</a>
        <form method="POST" action="{{ url_for('main.delete_word', word_id=word.id) }}">
          {{ form.hidden_tag() }}
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <div id="definition" class="definition"></div>
</div>
{% endblock content %}
