{% extends 'layout.html' %}
{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/ls.css')}}" />
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock styles %}
    <main>
      <div class="container1">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          
          <div class="card">
            <h1>Sign up</h1>
            <div class="label-float">
              {{ form.username(id="user")}}
              {% if form.username.errors %}
                {{ form.username.label(for="user", class="is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.username.label(for="user") }}
              {% endif %}
            </div>
            <div class="label-float">
              {{ form.email(id="email")}}
              {% if form.email.errors %}
                {{ form.email.label(for="email", class="is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.email.label(for="email") }}
              {% endif %}
            </div>
            <div class="label-float">
              {{ form.password(id="password")}}
              {% if form.password.errors %}
                {{ form.password.label(for="password", class="is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.password.label(for="user") }}
              {% endif %}
            </div>
            <div class="label-float">
              {{ form.confirm_password(id="confirm_password")}}
              {% if form.confirm_password.errors %}
                {{ form.confirm_password.label(for="confirm_password", class="is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.confirm_password.label(for="user") }}
              {% endif %}
            </div>

            <div class="justify">
                {{ form.submit() }}
            </div>
            <div class="sep">
                <p>
                  Already have an account
                  <a href="{{url_for('users.login')}}">Login</a>
                </p>
              </div>
            <div class="sep">
   
            </div>
          </div>
        </form>
      </div>
    </main>
{% endblock content %}